@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-primary: #630ed4;
  --color-on-primary: #ffffff;
  --color-primary-container: #7c3aed;
  --color-on-primary-container: #ffffff;
  --color-primary-fixed: #eaddff;
  --color-secondary: #5c5f61;
  --color-secondary-container: #e0e3e5;
  --color-surface: #f9f9f9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3f4;
  --color-surface-container: #eeeeee;
  --color-surface-container-high: #e8e8e8;
  --color-surface-variant: #e2e2e2;
  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #4a4455;
  --color-text-primary: #0F172A;
  --color-text-secondary: #475569;
  --color-text-tertiary: #94A3B8;
  --color-error: #ba1a1a;
  --color-background: #f9f9f9;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.icon-fill {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
